<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.kokoi.android.garden"
    android:versionName="0.1">



    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".LoadingActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".BookShelfActivity"></activity>

        <activity android:name=".BookMenuActivity"></activity>
        <activity android:name=".BookMenuReadingActivity"></activity>
        <activity android:name=".BookMenuPractiseActivity"></activity>

        <activity android:name=".BookReadingActivity"></activity>
        <activity android:name=".BookReadingListActivity"></activity>

        <activity android:name=".BookPractiseActivity"></activity>

    </application>

</manifest>
